.rooms__header {
    padding-bottom: 46px;
}

.rooms__header h1 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 45px;
    line-height: 122%;
    text-align: center;
    color: #353637;
    padding-bottom: 20px;
}

.rooms__header p {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #959595;
    max-width: 460px;
    width: 100%;
    margin: 0 auto;
}

.rooms__body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.rooms__body-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 350px;
    height: 427px;
    border-radius: 12px 12px 0 0;
    transition: 0.3s;   
}
.room__image img {
    user-select: none;
    -webkit-user-drag: none; /* Safari/Chrome */
    pointer-events: none;  
}
.room__image {
    display: flex;
    align-items: baseline;
    width: 100%;
    cursor: pointer;
}
.room__image img{
    width: 100%;
    object-fit: contain;
}
.room__info {
    padding: 20px 22px;
    border: 1px solid #000;
    border-top: none;
}

.room__info h1{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: #131313;
    padding-bottom: 10px;
}
.room__info ul {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-top: -7px;
}
.room__info ul li {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 12px;
    line-height: 233%;
    letter-spacing: 0.02em;
    color: #727272;
    padding-bottom: 10px;
}
.room__info p span{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 30px;
    color: #000;
}
.room__info p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: #585858;
    margin-top: -7px;
}