.header {
  height: 90vh;
  width: 100%;
  background: #393838;
  position: relative;
}
.header__container {
  height: 80vh;
}
.header__info {
  position: sticky;
  top: 100px;
  bottom: 100px;
  max-width: 450px;
  height: 350px;
  display: flex;
  flex-direction: column;
  
  gap:10px;
  z-index: 5;

  z-index: 2;
  top: 25%;
}
.header__info-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 45px;
  line-height: 122%;
  color: #ffffff;
}
.header__info-descr {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.02em;
  color: #f8f5e7
}
.header__info-button {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  width: 135px;
  height: 40px;
  box-shadow: 0 4px 12px 0 rgba(21, 21, 21, 0.15);
  background: #000;
  cursor: pointer;
  margin-top: 5px;
  transition: 0.5s;
}
.header__info-button:hover {
  background: #000;
}
/* TABLET */
@media (max-width: 1024px) {
  .header__info-title {
    font-size: 30px;
  }
  .header__info-descr {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 156%;
    letter-spacing: 0.02em;
    color: #939393;
  }
  .header__info {
    max-width: 370px;
    display: flex;
    flex-direction: column;

    gap:16px;
    z-index: 5;
  }
  
}
/* PHONE */
@media (max-width: 767px) {

}